@import "reset.css";

/* Importation des styles pour les éléments spéciaux */
@import "button.css";
@import "form.css";

/* Importation des styles pour les éléments aux pages */
@import "blogpost_list.css";
@import "blogpost_detail.css";

/* Définition des variables de couleur */
:root {
    --color-bg: #fff8e1; /* Couleur de fond douce et lumineuse */
    --color-text: #4a4a4a; /* Couleur du texte légèrement plus claire */
    --color-text-light: #6f6f6f; /* Couleur pour le texte léger (post-subtitle) */
    --color-title: #ff8c00; /* Couleur des titres ensoleillée */
    --color-button-bg: #ffd54f; /* Couleur de fond des boutons lumineux */
    --color-button-bg-hover: #ffca28; /* Couleur de fond au survol plus intense */
    --color-pos: #4caf50; /* Couleur pour publier, verte et dynamique */
    --color-neg: #d32f2f; /* Couleur pour dépublier, rouge vif */
    --color-white: #ffffff; /* Couleur blanche */
    --color-black: #000000; /* Couleur noire */
}

/* Style de base pour le corps de la page */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    color: var(--color-text);
}

nav {
    background-color: var(--color-white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
    margin: 25px auto; /* Centre la barre de navigation */
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%; /* Largeur de la barre de navigation */
}


nav a {
    color: var(--color-title); /* Couleur des liens */
    text-decoration: none; /* Supprime le soulignement */
    margin: 0 1rem; /* Espacement entre les liens */
    font-weight: 600; /* Gras pour les liens */
    transition: color 0.3s; /* Effet de transition pour le survol */
}

nav a:hover {
    color: var(--color-button-bg); /* Couleur au survol */
}

/* Ajoute un style pour le texte d'authentification */
nav span {
    color: var(--color-text); /* Couleur du texte utilisateur */
    margin-left: 1rem; /* Espacement à gauche du nom d'utilisateur */
}

h1 {
    font-size: 2em;
    margin: 0;
    color: var(--color-title);
}

#blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: 70%; /* Largeur du blog, même que la barre de navigation */
    margin-left: auto; /* Centre le blog */
    margin-right: auto; /* Centre le blog */
}


#blog article {
    width: 100%;
    margin-top: 2rem;
    background: var(--color-white);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 30px;
    padding: 10px 10px;
}

@media (max-width: 1024px) {
    #blog article {
        width: 90%;
    }
}

.pos {
    background-color:var(--color-pos);
}
.neg {
    background-color:var(--color-neg);
}


